@font-face {
    font-family: Anton-Regular;
    src: url(Anton-Regular.ttf);
}
@font-face {
    font-family: Oswald-VariableFont_wght;
    src: url(Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: LEMONMILK-Bold;
    src: url(LEMONMILK-Bold.otf);
}
@font-face {
    font-family: LEMONMILK-BoldItalic;
    src: url(LEMONMILK-BoldItalic.otf);
}
@font-face {
    font-family: Caviar;
    src: url(CaviarDreams.ttf);
}
@font-face {
    font-family: Caviar-bold;
    src: url(CaviarDreams_Bold.ttf);
}
h2{
color: #fff;
font-family: LEMONMILK-BoldItalic;
letter-spacing: px;
}
body{
background-color: #000000;
}
.header{
letter-spacing: 1px;
font-family: Anton-Regular;
justify-content: center;
display: inline-flex;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 100vw;
background-color: #202020;
padding: 5px;
font-size: 20px;
}
a:link{
color: #fff;
text-decoration: none;
}
a:visited{
color: #fff;
text-decoration: none;
}
a:hover{
color: #fff;
text-decoration: double underline;
}
a:active{
color: #fff;
text-decoration: wavy underline;
}
.homepage{
padding-right: 10px;
border-right: 2px dashed #fff;
}
.aboutpage{
padding-left: 14px;
padding-right: 16px;
border-right: 2px dashed #fff;
}
.aboutauthor{
padding-right: 16px;
padding-left: 14px;
border-right: 2px dashed #fff;
}
.help{
padding-right: 16px;
padding-left: 14px;
}
.content{
height: 300vh;
width: 100vw;
background-color: #181818;
margin-top: 3px;
color: #fff;
text-align: center;
font-family: Caviar;
}
.welcome{
padding-top: 5px;
}
.draconic{
margin-top: 10vh;
background-color: #141414;
height: 69vh;
}
.photodraconic{
margin-top: 7vh;
border: 2px solid #fff;
border-radius: 20px;
margin-left: 2vw;
margin-right: 4vw;
float: left;
}
.infodraconic{
float: left;
margin-top: 18vh;
height: 52vh;
}
ul{
list-style-type: none;
}
.plusy{
padding-right: 2vw;
margin-top: 50px;
float: left;
margin-top: 5vh;
border: 2px solid #fff;
}
.minusy{
margin-left: 5px;
padding-right: 2vw;
margin-top: 50px;
float: left;
margin-top: 5vh;
border: 2px solid #fff;
}
.g305{
margin-top: 10vh;
background-color: #141414;
height: 69vh;
}
.photog305{
margin-top: 18vh;
border: 2px solid #fff;
border-radius: 20px;
margin-left: 2vw;
margin-right: 4vw;
float: left;
}
.infog305all{
float: left;
}
.infog305{
float: left;
margin-top: 18vh;
height: 52vh;
}
.plusyminusy305{
padding-top: 30vh;
}
.plusyg305{
padding-right: 2vw;
margin-top: 50px;
float: left;
margin-top: 5vh;
border: 2px solid #fff;
}
.minusyg305{
margin-left: 5px;
padding-right: 2vw;
margin-top: 50px;
float: left;
margin-top: 5vh;
border: 2px solid #fff;
}
.razer{
margin-top: 10vh;
background-color: #141414;
height: 69vh;
}
.photorazer{
margin-top: 18vh;
border: 2px solid #fff;
border-radius: 20px;
margin-left: 2vw;
margin-right: 4vw;
float: left;
}
.inforazer{
float: left;
margin-top: 18vh;
height: 52vh;
}
.inforazerall{
float: left;
}
.plusyminusyrazer{
padding-top: 30vh;
}
.plusyrazer{
padding-right: 2vw;
margin-top: 50px;
float: left;
margin-top: 5vh;
border: 2px solid #fff;
}
.minusyrazer{
margin-left: 5px;
padding-right: 2vw;
margin-top: 50px;
float: left;
margin-top: 5vh;
border: 2px solid #fff;
}
.soon{
margin-top: 2vh;
font-size: 55px;
}
.nateraz{
font-size: 10px;
}
.footer{
color: #fff;
text-align: center;
padding-top: 2vh;
padding-bottom: 2vh;
font-family: Caviar;
}
.helpcontent{
    font-size: 40px;
    padding-top: 10vh;
    height: 50vh;
    width: 100vw;
    background-color: #181818;
    margin-top: 3px;
    color: #fff;
    text-align: center;
    font-family: Caviar;
}
.mailhelp{
font-family: Caviar-Bold;
}
.footerhelp{
    color: #fff;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: Caviar;
    margin-top: 20vh;
}
.footerpage{
    color: #fff;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: Caviar;
    margin-top: 30vh;
}
.pagecontent{
    font-size: 20px;
    padding-top: 10vh;
    height: 40vh;
    width: 100vw;
    background-color: #181818;
    margin-top: 3px;
    color: #fff;
    text-align: center;
    font-family: Caviar;
}
.authorcontent{
    font-size: 20px;
    padding-top: 10vh;
    height: 40vh;
    width: 100vw;
    background-color: #181818;
    margin-top: 3px;
    color: #fff;
    text-align: center;
    font-family: Caviar;
}
.footerauthor{
    color: #fff;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: Caviar;
    margin-top: 2vh;
}
.sociale{
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
display: flex;
align-items: center;
justify-content: center;
background-color: #181818;
width: 100vw;
}
.facebook{
padding-right: 2vw;
padding-left: 2vw;
}
